# Folders
Games/
Games/*
Modules/
Modules/*
LocalMenu/
LocalMenu/*
PINs.xml
DetectionSoftware/BaseDepth.xml
DetectionSoftware/PlayArea.xml
DetectionSoftware/Settings.xml
BeamerModule/ProjectorModule.exe.config
*.pdb