<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--[string] IP Address of the projector
    Currently supported: 'PJLink', 'Canon', 'Sony', 'Panasonic'
    Attention: change the 'portProjector' key PJLink accordingly-->
    <add key="projectorConnectionType" value="Panasonic"/>
    <!--[string] IP Address of the projector-->
    <add key="ipAddressProjector" value="192.168.1.129"/>
    <!--[int] Port of the projector
    Common ports: 4352 (PJLink), 33336 (Canon), 53595 (Sony), 1024 (panasonic)-->
    <add key="portProjector" value="1024"/>
    <!--[string] IP Address of the server (this PC's local IP (not localhost))-->
    <add key="ipAddressThis" value="192.168.1.129"/>
    <!--[int] Port of the server to run on-->
    <add key="portThis" value="2339"/>
    <!--[int] Timeout in seconds (Client to Projector) (Server to Client is 2x this value)-->
    <add key="timeout" value="4"/>
  </appSettings>
</configuration>
