<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NoiseThreshold>27</NoiseThreshold>
  <FlipHorizontally>true</FlipHorizontally>
  <FlipVertically>true</FlipVertically>
  <DetectionBleed>true</DetectionBleed>
  <DetectionRangeFromWall>250</DetectionRangeFromWall>
  <HightOffset>20</HightOffset>
  <MinimalObjectSize>7</MinimalObjectSize>
  <RecallThreshold>10</RecallThreshold>
  <TcpOutputPort>3000</TcpOutputPort>
  <CallibratorMargen>100</CallibratorMargen>
  <CallibrationOutputPort>3010</CallibrationOutputPort>
</Settings>